<%- include('./partials/header.ejs') %>
    <div class="content" style=" border: 1px solid royalblue;">
    <h1 style="text-align: center;">About</h1>
    <h2 style="text-align: center;">My name is feranmi</h2>
    </div>
</body>
</html>