<%- include('./partials/header.ejs') %>
    <div class="content" style=" border: 1px solid royalblue; margin: 0 auto; ">
        <form action="/blogs" method="POST" style=" max-width: 300px; margin: 0 auto;" >
            <label for="title" class="style"> Blog title</label>
            <input type="text" id="title" class="style" name="title">
            <label for="snippet" class="style"> Blog Snippet</label>
            <input type="text" id="snippet" class="style" name="snippet">
            <label for="body" class="style"> Blog body</label>
            <textarea id="body" cols="30" rows="10" class="style" name="body"></textarea>
            <button class="button">submit</button>    
        </form>
       
</body>
</html> 
<style>
    .style{
        display: block;
        width: 300px;
        margin-right: 0px;
    }
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>