   <%- include('./partials/header.ejs') %>

    <div class="content" style=" border: 1px solid royalblue;">
    <h1 style="text-align: center;">hello world</h1>
    <h2 style="text-align: center;">My name is feranmi</h2>

        <div class="blogs" style="text-align: left; padding: 3em; border: 1px solid red;">
            <% if (blogs.length > 0) { %>

                <% blogs.forEach (blog =>{ %>
                    <h1 class="title"> <%= blog.title %> </h1>
                    <p class="body"> <%= blog.body %> </p>

                <% })%>

            <% } else { %>
                <p>There ar no blogs to  display...</p>
                <% } %>
        </div>
    </div>
</body>
</html>